
@{
    ViewBag.Title = "Контакты";
}
<div class="container-fluid">
    <div class="row">
        <div class="col textBlock">
            <div>
                <b>Наш адрес:</b><br/>
                Улица Пушкина<br/> 
                дом Калатушкина<br/>
                номер 228<br/>
            </div>

        </div>
        <div class="col textBlock">
            <b>Адрес Электронной почты:</b><br/>

        </div>
    </div>
    <div class="row">
        <div class="col textBlock">
            <div>
                <b>Наш телефон</b><br/>
                +7 989 254 78 02 <br/>
                +7 988 157 23 24 <br/>
            </div>
        </div>
        <div class="col textBlock">
            <div>
                <b>Режим работы:</b><br/>
                Понедельник - Пятница c 9:00 до 16:00<br/>
                Суббота - Воскресенье - Выходной <br/>
                <span style="color: darkkhaki">В праздники мы закрыты</span>
            </div>
        </div>
    </div>

</div>


