@model _2B.Models.ManageModel

@{
    ViewBag.Title = "Профиль";
}

<div class="container-fluid textBlock">
    <div class="row justify-content-center">
        <div class="col textBlock">
            <div> <span style="font-size: x-large;">Ваш логин: </span><span class="profileText"> @Model.Login </span></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col textBlock">
            <div> <span style="font-size: x-large;">Ваш год рождения: </span><span class="profileText"> @Model.Age </span></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col textBlock">
            <div> <span style="font-size: x-large;">Ваш E-Mail: </span><span class="profileText"> @Model.Email </span></div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col textBlock">
            <div> <span style="font-size: x-large;">Ваш баланс: </span><span class="profileText"> @Model.Balance ₽</span></div>
        </div>
    </div>

</div>

